body{
    background-image:url("/imagenes/fondoindex.jpg");
}
/*nav*/
img {
    width: 7rem;
}

.navbar{
    background: rgb(248,255,158);
    background: linear-gradient(0deg, rgba(248,255,158,1) 0%, rgba(242,71,218,1) 100%);
}

/*formulario*/
.formulario{
    margin-left: 8rem;
    margin-right: 45rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/*footer*/
.bg-dark img{
    width: 0.8rem
}

footer.page-footer.font-small.blue.pt-4 {
    background: rgb(248,255,158);
    background: linear-gradient(180deg, rgba(248,255,158,1) 0%, rgba(242,71,218,1) 100%);
}

